<h2 class="recent-transactions__header">Recent Transactions</h2>

<div class="recent-transactions__list-options">
  <div class="recent-transactions__filter">
    <input placeholder="Search by typing..." [value]="filterStr" (keyup)="setFilter($event)">
    <span class="recent-transactions__clear-filter" (click)="clearFilter()" [hidden]="!filterStr">✘</span>
  </div>
  <div class="recent-transactions__sorter">
  <span>Sort by:</span>
  <ul>
    <li><button [classList]="buttonClassList('date')" (click)="sortBy('date')">DATE</button></li>
    <li><button [classList]="buttonClassList('beneficiary')" (click)="sortBy('beneficiary')">BENEFICIARY</button></li>
    <li><button [classList]="buttonClassList('amount')" (click)="sortBy('amount')">AMOUNT</button></li>
  </ul>
  </div>
</div>
<div class="recent-transactions__list">
  <div class="recent-transactions__item" style="border-left-color: {{item.categoryCode}}" *ngFor="let item of filtered()">
    <span>{{item.dates.valueDate | date : dateFormat }}</span>
    <span><img src="../../assets/icons/{{item.merchant.name | spinalCase}}.png" alt="{{item.merchant.name}} logo"></span>
    <span class="double">
      <span>{{item.merchant.name}}</span>
      <span>{{item.transaction.type}}</span>
    </span>
    <span><span *ngIf="item.transaction.creditDebitIndicator === 'DBIT'"> - </span>{{item.transaction.amountCurrency.amount | currency:item.transaction.amountCurrency.currencyCode}}</span>
  </div>
</div>

