.recent-transactions__header {
  font-family: Kanit;
  text-align: center;
  background-color: rgb(12, 131, 151);
  color: white;
  background-image: url('../../assets/icons/briefcase_t.png');
  background-repeat: no-repeat;
  background-position: 12px center;
  height: 60px;
  line-height: 60px;
}

.recent-transactions__list-options,
.recent-transactions__list {
  width: calc(100% - 28px);
  margin: 12px auto;
}

.recent-transactions__list {
  background-color: #cccccc;
  padding-top: 3px;
}

.recent-transactions__item {
  display: grid;
  box-sizing: border-box;
  margin-bottom: 3px;
  background-color: white;
  padding: 14px;
  grid-template-columns: 70px 70px auto auto;
  grid-template-rows: 70px;
  column-gap: 14px;
  border-right: 3px solid #cccccc;
  border-left-width: 10px;
  border-left-style: solid;
  border-bottom: none;
  align-items: center;
  text-align: center;
}

.recent-transactions__item:last-child {
  border-bottom: 3px solid #cccccc;
}

.recent-transactions__item > span:last-child {
  text-align: right;
  font-weight: bold;
}

.recent-transactions__item > span.double {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}

span.double span:first-child {
  font-weight: bold;
  font-size: 1.2em;
}

.recent-transactions__item img {
  width: 45px;
  filter: grayscale(1);
}

.recent-transactions__item:hover img {
  filter: grayscale(0);
}

.recent-transactions__list-options,
.recent-transactions__sorter,
.recent-transactions__sorter ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.recent-transactions__list-options {
  column-gap: 24px;
}

.recent-transactions__sorter span {
  font-weight: bold;
  white-space: nowrap;
}

.recent-transactions__sorter ul {
  list-style-type: none;
}

.recent-transactions__sort-button {
  background-color: transparent;
  border: 2px solid #cccccc;
  border-right: none;
  padding: 8px 12px;
  padding-right: 24px;
  position: relative;
}

li:last-child .recent-transactions__sort-button {
  border-right: 2px solid #cccccc;
}

.recent-transactions__sort-button::before {
  position: absolute;
  display: block;
  right: 8px;
}

.recent-transactions__sort-button--asc::before {
  content: '▲';
}
.recent-transactions__sort-button--desc::before {
  content: '▼';
}

.recent-transactions__filter,
.recent-transactions__filter input {
  box-sizing: border-box;
  width: 100%;
}
.recent-transactions__filter {
  padding: 0 10px;
  position: relative;
}
.recent-transactions__clear-filter {
  position: absolute;
  right: 0;
  top: 10px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.recent-transactions__filter input {
  border: none;
  border-bottom: 1px solid #cccccc;
  font-size: 1.2em;
  font-family: Kanit;
  padding: 6px;
}
