.transaction-form__header {
  font-family: Kanit;
  text-align: center;
  background-color: rgb(12, 131, 151);
  color: white;
  background-image: url('../../assets/icons/arrows_t.png');
  background-repeat: no-repeat;
  background-position: 12px center;
}

.transaction-form__submit,
.transaction-form__field {
  margin: 24px;
  font-size: 0.8em;
}

.transaction-form__field label {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
.transaction-form__field input {
  border: none;
  border-bottom: 1px solid #d3d3d3;
  color: #858585;
  font-size: 1.2em;
  font-family: Kanit;
  padding: 6px;
  padding-left: 0;
  box-sizing: border-box;
  width: 100%;
}

.transaction-form__amount {
  position: relative;
}

.transaction-form__amount input {
  padding-left: 12px;
}

.transaction-form__amount::before {
  content: '€';
  position: absolute;
  color: #858585;
  top: 2.1em;
}

.transaction-form__submit {
  text-align: right;
}

.button {
  border: none;
  background-color: rgb(238, 112, 51);
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 8px 50px;
}

.button[disabled] {
  background-color: #858585;
  color: #d3d3d3;
}