<h2 class="transaction-form__header">Make a Transfer</h2>
<form (submit)="onSubmit($event)">
<div class="transaction-form__field">
  <label for="source">FROM ACCOUNT</label>
  <input id="source" name="source" value="Free Checking(4692) - $5824.76" readonly>
</div>
<div class="transaction-form__field">
  <label for="merchant">TO ACCOUNT</label>
  <input id="merchant" name="merchant" [(ngModel)]="merchant$">
</div>
<div class="transaction-form__field transaction-form__amount">
  <label for="amount">AMOUNT</label>
  <input id="amount" name="amount" [(ngModel)]="amount$">
</div>
<div class="transaction-form__submit">
  <input type="submit" class="button" value="SUBMIT" [disabled]="canSubmit()">
</div>
</form>