.main {
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  flex-grow: 1;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 370px auto;
  grid-template-areas:
    "transfer transactions"
    ". transactions";
  gap: 40px;
}

.transactions-list,
.transaction-form {
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.transaction-form {
  grid-area: transfer;
}
.transactions-list {
  grid-area: transactions;
}

@media (max-width: 768px) {
  .main {
    padding: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "transfer"
      "transactions";
    gap: 12px;
  }
}
