.transaction-preview {
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  flex-grow: 1;
  padding: 50px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.transaction-preview__container {
  background-color: white;
  width: 100%;
  max-width: 420px;
}

.transaction-preview__header {
  font-family: Kanit;
  text-align: center;
  background-color: rgb(12, 131, 151);
  color: white;
  background-image: url('../../assets/icons/briefcase_t.png');
  background-repeat: no-repeat;
  background-position: 12px center;
  height: 60px;
  line-height: 60px;
}

.transaction-preview__container div {
  padding: 24px;
}

.transaction-preview__buttons {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

button {
  border: none;
  background-color: rgb(238, 112, 51);
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 8px 50px;
}

@media (max-width: 768px) {
  .transaction-preview {
    padding: 12px;
  }
  .transaction-preview__container {
    width: 100%;
  }
  button {
    padding: 15px 30px;
  }
}
