<section class="transaction-preview">
  <div class="transaction-preview__container">
    <h1 class="transaction-preview__header">Transaction details</h1>
    <div>Transfer to: {{merchant}}</div>
    <div>Transfer amount: {{amount}}</div>
    <div class="transaction-preview__buttons">
      <button (click)="cancel()">Cancel</button>
      <button (click)="save()">Send transfer</button>
    </div>
  </div>
</section>
