/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body,
h1, h2, h3, h4, h6, h6,
p { margin: 0;}

body { font-family: Kanit, "Helvetica Neue", sans-serif; }
app-root {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

header {
  padding: 12px;
  padding-left: 50px;
  border-bottom: 3px solid rgb(255, 120, 57);
  height: 74px;
}

button:focus,
input:focus {
  outline: none;
}

@media (max-width: 768px) {
  header {
    padding-left: 12px;
    height: 62px;
  }
  header img {
    width: 400px;
  }
}

@media (max-width: 480px) {
  header {
    padding-left: 12px;
    height: 35px;
  }
  header img {
    width: 300px;
  }
}

